<launch>
  <arg name="node_name" default="pcd_correction_node"/>
  <arg name="config_file" default="$(find LiDAR_Intensity_Assist)/config/start.yaml"/>
  <arg name="raw_cloud_topic" default="/raw_cloud"/>
  <arg name="deskewed_cloud_topic" default="/deskewed_cloud"/>
  <arg name="start_rviz" default="true"/>
  <arg name="rviz_config_file" default="$(find LiDAR_Intensity_Assist)/rviz/start.rviz"/>

  <node pkg="LiDAR_Intensity_Assist"
        type="pcd_correction_node"
        name="$(arg node_name)"
        output="screen">
    <rosparam command="load" file="$(arg config_file)"/>

    <remap from="raw_cloud" to="$(arg raw_cloud_topic)"/>
    <remap from="deskewed_cloud" to="$(arg deskewed_cloud_topic)"/>
  </node>

  <node if="$(arg start_rviz)"
        pkg="rviz"
        type="rviz"
        name="LiDAR_Intensity_Assist_rviz"
        args="-d $(arg rviz_config_file)"
        output="screen"/>
</launch>
